@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
  box-sizing: border-box;
 }

body {
  margin: 0;
  background-color:#AEB6BF ;
  min-height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.calculator {
  font-family: 'Ubuntu', sans-serif;
  background-color: #5D6D7E 
    ; 
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 25em;
  height: 36em;
}

/*display screen*/
.display {
  color: #17A589;
  background-color:#FDFEFE;
  font-size: 4em;
  font-weight: bold;
  width: 100%;
  height: 13%; 
  padding: 5px;
  text-align: right;
}


/*layout containers*/
.nums-container {
  width: 75%;
  height: 80%; 
}

.op-container {
  width: 25%;
  height: 80%; 
}



/*button section*/
button {
  margin: .1em; 
  margin-left: .1em;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 30%/50%;
  height: 4em;
  width: 5em;
  }

/*buttons colors*/
button.orange{
background-color:#F39C12;
}

button.mint {
background-color:#82E0AA;
}

button.red {
background-color:#CD6155;
}
/*end buttons colors*/



/*button shapes*/
button.wide {
width: 90%;
border-radius: 50px;
}

button.long {
width: 100%;
border-radius: 50px;
height: 30%;
}
/*end button shapes*/


/*Media query For smart phone sized-screens*/
@media screen and (max-width: 600px) {
  .container {
    transform: scale(0.655);
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
/*end Media Query section*/


